@media screen and (min-width:1024px) {

        .beneficios {
            height: 200vh;
            background-image: url("../IMG/happy_woman_cellphone.jpg");
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .beneficios__container {
            margin-top: 55rem;
            margin-bottom: 20rem;
            color: var(--amarelo);
            font-size: var(--fonte-texto);
            width: 80vw;
            display: flex;

        }


        .beneficios_texto-e-imagem{

            display: flex;
            flex-direction: row;
        }

        .beneficios__imagem{

            width: 25rem;
            height: auto;
            object-fit: contain;

           
        }

        .beneficios__itens {

            width: 100%;
            background-color: black;
            display: flex;
            flex-direction: column;
            border-radius: 1rem;
            
        
        }

        .beneficios__texto {

            font-size:5rem ;
            font-weight: bold;
            width: 25rem;
            padding-left: 2rem;
            padding-top: 2rem;
            margin-left: 1rem;
        }

        div .beneficios__paragrafo {

            border-color: rgb(219, 216, 216);
            border-style: double;
            border-radius: 1rem;
            border-width: 0.01rem;
            text-align: center;
            width: 20rem;
            
        }

        .beneficios__paragrafo {

            color: white;
            margin: 3rem 0rem 2rem 2rem;
            padding: 0.2rem;            
        
        }

        
    
}